@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    
}
:root {
    --colore-titolo:  #21243D;
    --colore-bottone: #FF6464;
    --colore-2020: #142850;
    --color-dashboard:#00A8CC;
    
}

nav {
    display: flex;
    justify-content: end;
    margin: 1rem;
    margin-bottom: 2rem;
}

nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 1.5rem;
    display: none;
    
}

.home:hover{
    color: var(--colore-bottone) ;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;

    
}

.immagine-profilo{
    /* width: 10rem;
    height: 10rem; */
    display: flex;
    justify-content: center;
    }

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.3rem;
    text-align: center;
    margin: 1.5rem;
    color: var(--colore-titolo);

}
p {
    font-size: 1rem;
    line-height: 2rem;
}

.paragrafo1{
    margin: 1.5rem;
    text-align: center;
}

input {
    width: 16rem;
    height: 3rem;
    background: var(--colore-bottone);
    border-radius: 2px;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
    cursor: pointer;
    border: none;
}
form {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.recent-post {
    background-color: #EDF7FA;
    padding-bottom: 0.5rem;
    
}

h3 {
    font-size: 1.2rem;
    line-height: 5rem;
    font-weight: 400;
    text-align: center;
}

article {
    background-color: white;
    margin: 0 1.5rem 1rem 1.5rem;
    padding: 1rem;

    
}
.view-all {
    display: none;
}
h2 {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: var(--colore-titolo);
    margin-bottom: 0.3rem;
}


.feb{
    display:flex;
    justify-content: start;
    gap: 1rem;

}

article div img{
    border-radius: 0.5rem;
}

.imgcard{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.Dashboard{
    display: flex;
    gap: 1rem;
    color: white;
    margin-bottom: 1rem;

}

.pardashboard{
    background-color: var(--colore-2020);
    border-radius: 7.5rem;
    padding: 0 1rem;
}
.pardashboard1{
    background-color: var(--color-dashboard);
    border-radius: 7.5rem;
    padding: 0 1rem;
}

.card1{
    border-bottom: 1px solid #E0E0E0;

}

.card2{
    display: none;
}

footer{
    margin-top: 10rem;
}

footer ul{
    display: flex;
    justify-content:center;
    gap: 2rem;
    list-style: none;
}

footer p{
    font-size: 0.8rem;
    text-align: center;
}


/* MEDIA QUERYS */

@media screen and (min-width:1200px)
{
    nav img {
        display: none;
    }

    nav ul {
        display: flex;
        margin-right:1rem ;
       }

    .intestazione{
        display: flex;
        flex-direction: row-reverse;
    }

    .intro{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}